
<div class='panel panel-default'>
    <div class='panel-content'>
        <button (click)='myMethod()' class='btn btn-primary edit'> Edit </button>
    </div>

</div>

<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th class="name-checkbox">Enable</th>
                    <th class="name-checkbox">Required</th>
                    <th>Field Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let contact of arrContact'>
                    <td class="icon-checkbox"><input type="checkbox" [(ngModel)]="contact.isEnable" [disabled]="!disableCheckbox"></td>
                    <td class="icon-checkbox"><input type="checkbox" [(ngModel)]="contact.isRequired" [disabled]="!disableCheckbox"></td>
                    <td>{{contact.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>