<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> </td>
                    <td>Carl Hermandez</td>
                    <td>carl.hemandez@abc.com</td>
                    <td>IR Manager</td>
                    <td>
                        <img src="../assets/images/edit.png" />
                        <a href="#"><img src="../assets/images/Delete@1x_preview.png" /></a>
                    </td>
                </tr>
                <!--<tr *ngFor='let contact of arrContact'>
                    <td class="icon-checkbox"><input type="checkbox" [(ngModel)]="contact.isEnable" [disabled]="!disableCheckbox"></td>
                    <td class="icon-checkbox"><input type="checkbox" [(ngModel)]="contact.isRequired" [disabled]="!disableCheckbox"></td>
                    <td>{{contact.name}}</td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>