<div class="container">
    <h3>Angular 2 Forms</h3>
    <!--novalidate: khong xac nhan gia tri khi submit-->

    <form #form="ngForm" (submit)="submitForm(form)" novalidate>
        
        <div class="form-group" [class.has-warning]="firstName.invalid && firstName.touched">
            <label class="control-label">First Name</label>
            <input #firstName ="ngModel" required pattern="...+"  type="text" name="firstName" class="form-control" value="" placeholder="First Name" [ngModel] ="model.firstName"
                                                                                                            (ngModelChange) ="firstNameToUpperCae($event)"/>
            <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
                Firt Name is required.
            </div>
        </div>
        
        <div class="form-group" [class.has-warning] ="lastName.invalid && lastName.dirty">
            <label class="control-label">Last Name</label>
            <input #lastName= "ngModel" type="text" required name="lastName" class="form-control" value="" placeholder="Last Name" [(ngModel)] ="model.lastName" />
            <div *ngIf="lastName.invalid && lastName.dirty" class="alert alert-danger">
                Firt Name is required.
            </div>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="is-full-name"
                       [(ngModel)] = "model.isFullTime"/> Full Time Employee
            </label>
        </div>

        <label>Payment Type</label>

        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="W2" [(ngModel)] ="model.paymentType"/>
                W2
            </label>
        </div>
        
        <div class="radio">
            <label>
                <input type="radio" name="paymentType" value="1099" [(ngModel)] ="model.paymentType"/>
                1099
            </label>
        </div>
                  
        <div class="form-group" [class.has-error] ="hasPrimaryLanguageError">
            <label class="control-label">Primary Language</label>
            <select #Language ="ngModel" class="form-control"
                    (blur) ="validatePrimaryLanguage($event)"
                    name="primaryLanguage"
                    [(ngModel)] ="model.primaryLanguage">
                <option value="default">Select a Language</option>
                <option *ngFor ="let lang of langues" >
                    {{lang}}
                </option>
            </select>
            <div *ngIf="Language.invalid && Language.dirty" class="alert alert-danger">
                Primary Language is required.
            </div>
        </div>

        <div class="form-group">
            <label>Date Hired</label>
            <input type="date" class="form-control" value="" placeholder="First" name="Date-Hired" ngModel />
        </div>

        <div class="field">
            <label for="title">Title:</label>
            <input name="title" #newtitle>
        </div>
        <div class="field">
            <label for="link">Link:</label>
            <input name="link" #newlink>
        </div>

        <!--<button (click)="addArticle(newtitle, newlink)"
                class="ui positive right floated button">
            Submit link
        </button>-->

        <button class="btn btn-primary" type="submit" 
                (click)="addArticle(newtitle, newlink)"
                [disabled] ="form.invalid">OK</button>
        
        <h3>{{ form.pristine }}</h3>
    </form>
    <br />
    <!--Model: {{ model | json }}
    <br />
    Angular: {{form.value | json}}-->

</div>    

<!--//test 1-->

<div class="four wide column center aligned votes">
   <div class="ui statistic">
        <div class="value">
           {{ votes }}
        </div>
        <div class="label">
        </div>
    </div>
</div>
<div class="twelve wide column">
    <a class="ui large header" href="{{ link }}">
        {{title }}
    </a>
    <ul class="ui big horizontal list voters">
        <li class="item">
            <a href="#"  (click)="voteUp()">
                <i class="arrow up icon">vote up</i>
            </a>
        </li>
        <li class="item">
            <a href="#" (click)="voteDown()">
                <i class="arrow down icon">vote down</i>
            </a>
        </li>
    </ul>
</div>